<!DOCTYPE html>

<html>
<head>
    <title>Veeral Patel | Music Store</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/main.js"></script>
    <!-- //js -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" property="" />
    <link href="//fonts.googleapis.com/css?family=Varela+Round&subset=hebrew" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>


</head>
<body>
    <div>


        <div class="banner1">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed"   data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 ><a class="navbar-brand" href="~/Admin/Profile" style="font-size:26px;"><span style="font-size:26px;">Viraal </span>Patel</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="cl-effect-13" id="cl-effect-13">
                            <ul class="nav navbar-nav" id="menu1">
                                <li id="liAdminProfile"><a href="@Url.Action("Profile","Admin")">Profile</a></li>
                                <li id="liVideoInfo"><a href="@Url.Action("VideoInfo","Admin")">Video Info</a></li>
                                <li id="liSongInfo"><a href="@Url.Action("SongInfo","Admin")">Song Info</a></li>
                                <li id="liAlbumInfo"><a href="@Url.Action("AlbumInfo","Admin")">Album Info</a></li>
                                <li id="liAdmin"><a href="@Url.Action("AdminInfo","Admin")">Admin Info</a></li>
                                <li id=""><a href="@Url.Action("Logout","Admin")">Logout</a></li>
                            </ul>
                            @*<div class="w3_agile_login">
                                <div class="cd-main-header">
                                    <a class="cd-search-trigger" href="#cd-search"> <span></span></a>
                                    <!-- cd-header-buttons -->
                                </div>
                                <div id="cd-search" class="cd-search">
                                    <form action="#" method="post">
                                        <input name="Search" type="search" placeholder="Search...">
                                    </form>
                                </div>
                            </div>*@
                        </nav>
                    </div>
                </nav>
                <div class="mail">
                    <div class="container">
                        <h2 class="agileinfo_header" style="background-color:rgba(255,255,255,0.7); border-radius:10px;">@ViewBag.PageTitle</h2>
                    </div>
                </div>
                <!-- flexSlider -->
                <script defer src="~/js/jquery.flexslider.js"></script>
                <script type="text/javascript">
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            start: function (slider) {
                                $('body').removeClass('loading');
                            }
                        });
                    });
                </script>
                <!-- //flexSlider -->
            </div>
        </div>
        @RenderBody()

        <div class="copyright">
            <div class="container">
                @*<div class="w3agile-list">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="icons.html">Codes</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>*@
                <div class="agileinfo">
                    <p>© 2017 All Rights Reserved By <a href="@Url.Action("Profile","Admin")">Viraal Patel</a>. Design by Jay Gandhi</p>
                </div>
            </div>
        </div>
        <!-- //copyright -->


        <!-- for bootstrap working -->
        <script src="~/js/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- stats -->
        <script src="~/js/jquery.waypoints.min.js"></script>
        <script src="~/js/jquery.countup.js"></script>
        <script>
            $('.counter').countUp();
        </script>
        <!-- //stats -->
        <!-- start-smooth-scrolling -->
        <script type="text/javascript" src="~/js/move-top.js"></script>
        <script type="text/javascript" src="~/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <!-- start-smooth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>

    </div>
</body>
</html>
