@{
    ViewBag.Title = "SongView";
    Layout = "~/Views/Shared/Admin_Layout_Page.cshtml";
    ViewBag.PageTitle = "Song Delete";
}
@model Music.Audio
<script>
    $(document).ready(function () {


        $("#menu1").children().removeClass("active");
        $("#menu1").children("#liSongInfo").addClass("active");

    });
</script>
@if (ViewBag.error != null)
{
    <div class="container" align="center">
        <span style="color:#FF3720">@ViewBag.error</span>
    </div>
}
<div class="mail">

    <div class="container">
        <div class="col-md-6 agileits_mail_grid_left">
                <form method="post" enctype="multipart/form-data">
                    <h4>Song Type*</h4>
                    <input type="text" name="title" value="@ViewBag.AudioTypeName" style="border-radius:4px;" disabled />
                    <h4>Title*</h4>
                    <input type="text" name="title" value="@Html.DisplayFor(model=>model.Title)" style="border-radius:4px;" disabled />
                    <h4>Created On*</h4>
                    <input type="text" name="title" value="@Html.DisplayFor(model=>model.Created_On)" style="border-radius:4px;" disabled />
                    <h4>Modified On*</h4>
                    <input type="text" name="title" value="@Html.DisplayFor(model=>model.Modified_On)" style="border-radius:4px;" disabled />
                    <div class="row">
                        <div>
                            <div class="col-md-3">
                                <input type="submit" style="width:100%;" value="Delete" />
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("SongInfo","Admin")" class="btn btn-default" style="margin-top:15px;">Back</a>
                            </div>
                        </div>
                    </div>
                </form>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
